openzagora.duckdns.org {
    tls kironotificatora@gmail.com

    handle /admin-api/* {
        reverse_proxy admin-server:5001 {
            header_up Host {upstream_hostport}
            header_up X-Real-IP {remote_host}
            header_up X-Forwarded-For {remote_host}
            header_up X-Forwarded-Proto {scheme}
        }
    }

    handle /api/* {
        reverse_proxy server:5000 {
            header_up Host {upstream_hostport}
            header_up X-Real-IP {remote_host}
            header_up X-Forwarded-For {remote_host}
            header_up X-Forwarded-Proto {scheme}
        }
    }

    handle {
        reverse_proxy client:80
    }
}

http://openzagora.duckdns.org {
    redir https://openzagora.duckdns.org{uri} permanent
}
